/* * {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  height: 117px;
  align-items: center;
  width: 100%;
  left: 10px;
  top: 0px;
  border-radius: 0px;
  background: #2e948a;
  color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25); 
}*/

/* #logo-header {
  padding: 70px;
  left: 128px;
  top: 53px;
  border-radius: 0px;
} */

ul {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 80px;
}